.login-button {
    margin-right: 20px;
    padding: 10px;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    right:0;
  }

  .login-button:hover {
    background-color: #bbf3be;
  }

  .logout-button {
    margin-right: 20px;
    padding: 10px;
    background-color: #f44336; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    right:0;
  }

  .logout-button:hover {
    background-color: #fbb4b4;
  }