* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10vh 0 10vh 0;
}

.weather-select {
    /* appearance: none; */
    min-width: 50vh;
    min-height: 5vh;
    border-radius: 10px;
    border: solid black 2px;
}

.weather-container {
    display: flex;
    justify-content: center;

    /* background-image: url(''); */
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease-out;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.child {
    display: inline-block;
}

.park-list {
    vertical-align:text-top;
}

.weather-main {
    min-height: 50vh;
    min-width: 75vh;
    max-width: 75vh;
    background-image: linear-gradient(to bottom, rgba(185, 220, 185, 0.75), rgb(40, 114, 55));
    padding: 25px;
    border-radius: 25px;
    border: solid black 2px;
    margin-bottom: 10vh;
}

.location-box .location {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    margin: 30px;
}

.date {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
    text-align: center;
}

.weather-box .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;

    padding: 15px 25px;

    color: #FFF;
    font-size: 102px;
    font-weight: 900;

    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
