.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 10px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}

.main-container {
  height: 450px;
  margin: 10px 50px 50px;
}

.save-container {
  width: auto;
}
select{
  width: 70%;
  margin: 5px;
  padding: 2px;
}

.search-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.small{
    background-color: gold;
}

.search-plants {
    width: 100%;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.sidebar-size {
    width: 90%;
    height: 400px;
    overflow-y: scroll;
    background-color: #f5fafe;
    border: 1px solid black;
    border-radius: 5px;
    text-wrap: wrap;
  }

  /* button layout */
  .btn-plants{
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    border: none;
    background-color: transparent;
  }

  .btn-plants:hover {
    background-color: #90ad73;
    cursor: pointer;
  }

  /* Display the plant information */
  .plant-container {
   min-width: 55%;
   height: 100%;
   border: 1px solid black;
   border-radius: 5px;
   padding-top: 10px;
  }

  .plant-details {
    max-width: 270px;
    margin: 10px 45px 10px 0;
    text-wrap: wrap;
  }

  .plant-img-size{
    object-fit: contain;
    width: auto;
    height: 200px;
    margin-top: 15px;
  }
