/* Header.css */

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    background-color: #D4CDB0;
  }
  
  .navbar a {
    text-decoration: bold;
    padding: 10px;
    margin: 0 10px;
    color: #2C2521;
  }
  
  