section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: #85AB49;
  }

  section h4 {
    color: #FEF3E8;
  }

  .margin-10 {
    margin: 10px;
  }

  .c-orange {
    color: #e9b035;
  }

  .t-center {
    margin-top: 80px;
  }