.row {
    display: flex;
    justify-content: space-around;
}

.missouri-map{
    width: 400px;
    height: 400px;
    background-color: green;
  }
  
  .map-container {
    margin: auto;
    width: 400px;
    height: 400px;
  }

  .search-parks{
    width: 65%;
  }

  .sidebar-size {
    width: 400px;
    height: 60vh;
    overflow-y: auto;
  }

  .park-list, .park-list a{
    list-style: decimal;
    text-decoration: none;
    color: black;
  }

  /* FilterMap */
  .map-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px;
  }

  #map {
    width: 60vw;
    height: 100%;
    }
    .map-overlay {
    overflow-y: scroll;
    width: 28%;
    height: 100%;
    max-height: 500px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #efefef;
    max-height: 100%;
    overflow: hidden;
    }
     
    .map-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
    }
     
    .map-overlay input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    }
     
    .map-overlay .listing {
    overflow: auto;
    max-height: 100%;
    }
     
    .map-overlay .listing > * {
    display: block;
    padding: 5px 10px;
    margin: 0;
    }
     
    .map-overlay .listing a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #404;
    text-decoration: none;
    }
     
    .map-overlay .listing a:last-child {
    border: none;
    }
     
    .map-overlay .listing a:hover {
    background: #f0f0f0;
    }